# =========================
# Python
# =========================
__pycache__/


# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# uv / package manager
# =========================
.python-version
.uv/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/
